.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

medical.xcodeproj/xcuserdata/*
medical.xcodeproj/project.xcworkspace/xcuserdata/*

.xcodeproj/ !*.xcodeproj/project.pbxproj